<!-- <h3>Level</h3>
<p>{{application_log.level}}</p><hr>
<h3>date_time</h3>
<p>{{application_log.date_time}}</p><hr>
<h3>Source</h3>
<p>{{application_log.source}}</p><hr>
<h3>Event_id</h3>
<p>{{application_log.event_id}}</p><hr>
 -->

<table>
    <tr>
      <td>ID</td>
      <td>Level</td>
      <td>date and time</td>
      <td>source</td>
      <td>event_id</td>
    </tr>
    <tr>
      <td>{{application_log.id}}</td>
      <td>{{application_log.level}}</td>
      <td>{{application_log.date_time}}</td>
      <td>{{application_log.source}}</td>
      <td>{{application_log.event_id}}</td>
    </tr>
  </table>
  